@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    width:100%;
    background-color: #F1F2F7;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.active{
    color: #fff;
}

h5{
    font-family: 'Rubik';
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0 0 0 75px; 
}

/* Navbar-Start */

    .navbar{
        width: 100%;
    }

    .navbar-top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: rgb(31, 39, 52);
        font-family: 'Rubik';
        font-size: 12px;
        color: rgb(149, 161, 181);
        border-bottom: 0.5px solid #525a68;

    }

    .navbar-top-left{
        display: inline-block;
        justify-content: flex-start;
    }

    .navbar-top-left ul{
        margin: 8px 0 10px 22px;  
    }

    .navbar-top-left ul li{
        display: inline-block;
        padding-right:14px ;
        
    }

    .navbar-top-right{
        display: inline-block;
        margin-right: 1.45%;
    }

    .navbar-top-right ul{
        margin: 8px 0 10px 22px;
    }

    .navbar-top-right ul li{
        display: inline-block;
        padding-right:14px ;
        font-weight: 700;
    }

    .navbar-bottom{
        width: 100%;
        display: flex;
        background-color: #273142;
        color: rgb(149, 161, 181);
        font-family: 'Rubik';
        font-size: 14px;
        padding: 0 0 0 23px;
        align-items: center;
    }

    .navbar-bottom-logo{
        display:inline-block;   
    }

    .navbar-bottom-categories{
        display: inline-block;
        margin-left: 16px;
    }

    .navbar-bottom-categories ul{
        padding: 10px 0;
    }

    .navbar-bottom-categories ul li{
        display: inline-block;
        padding: 12px 10px 12px 15px;
        margin-left: 10px;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    .navbar-bottom-categories ul li:hover{
        display: inline-block;
        padding: 12px 10px 12px 15px;
        margin-left: 10px;
        font-weight: 600;
        letter-spacing: 0.4px;
        color: #fff;
        background-color: rgb(68, 74, 89);
        border-radius: 5px;
    }

     @media screen and (min-width:992px) and (max-width: 1242px) {
        
        .navbar-bottom-categories{
            max-height: 75px !important;
        }

        .navbar-bottom-categories ul li{
            display: inline-flex !important;
            justify-content: space-between;
            align-items: center !important;
            column-gap: 3px;
            width: min-content;
            max-height: 56px !important;
        }

        .deneme{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    } 

    @media screen and (max-width: 992px) {
        .navbar-top{
            display: none;
        }

        .navbar-bottom{
            display: block;
        }

        .navbar-bottom-logo{
            display:block !important;
            padding: 24px 0 0 29px;
        }

        .navbar-bottom-categories ul li{
            display:flex!important;
            justify-content: space-between;
            align-items: center;
            min-width: 100%;
            
        }
    }

    /* .deneme{
        display: inline-flex !important;
        justify-content: space-between;
        align-items: center;
        column-gap: 3px;
    }

    .deneme p{
        width: min-content;
    } */

/* Navbar-End */


/* Main-Start */

    /* main-section-top-1-start */
        .main{
            padding: 24px 15px;
            box-sizing: border-box;
        }

        .main-section{
            width: 100%;
            display: flex;
        }

        .main-section-top{
            width: 100%;
            display: inline-flex;
            justify-content:space-between;
            align-items: center;
        }

        .main-section-top-1{
            width:40%;
            display: inline-block;
        }

        .main-section-top-1 img{
            width: 50px;
            border-radius: 100%;
        }

        .main-section-top-1-a{
            min-width: 150px;
            border-radius: 6px;
            border: none;
            background-color: #08B449;
            padding: 8px;
            font-family:"Rubik" ;
            font-weight: 500;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            margin-left: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button-point-1{
            display: inline-flex;
            justify-items:center;
        }
        
        .point{
            font-size: 16px;
            font-weight: 600;
            margin: 0 8px;
            align-items: center;
        }

        .button-point-2{
            display: inline-flex;
            justify-items:center;
        }

        .main-section-top-1-a-2{
            min-width: 161.5px;
            border-radius: 6px;
            border: none;
            background-color: #273142;
            padding: 8px;
            font-family:"Rubik" ;
            font-weight: 500;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .point-2{
            font-size: 16px;
            font-weight: 600;
            margin: 0 8px 0 3px;
            align-items: center;
        }

        
    /* main-section-top-1-end */


    /* main-section-top-2-start */

        .main-section-top-2{
            width: 65%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

        }

        @media screen and (max-width: 992px){
            
            .main-section-top{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }

            .main-section-top-1{
                width: 100%;
            }

            .main-section-top-2{
                margin-top: 21px;
                width: 100%;
            }

            .main-section-performance{
                box-sizing: border-box;
                max-width: 100% !important;
                height: 258px;
                background-color: #FFFFFF;    
                margin: 30px 0 30px 0;
                padding: 0 14px 0 0;
                border-radius: 6px;
                font-family: "Rubik";
            }



        }

        @media screen and (max-width: 480px){

            .main-section-performance-2{
                display: flex !important;
                flex-direction: column !important; 
                margin: 0 0 0 10px;     
            }

            .main-section-performance{
                box-sizing: border-box;
                max-width: 100% !important;
                height: min-content !important;
                background-color: #FFFFFF;    
                margin: 30px 0 30px 0;
                padding: 0 14px 14px 0 !important;
                border-radius: 6px;
                font-family: "Rubik";
            }

        }

        .operation-state{
            width: 100%;
            min-height: 72px;
            background: #FFFFFF;
            border-radius: 4px;
            font-family: "Rubik";
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            justify-content: stretch;
        }

        .state-1{
            width: 30%;
            height: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            margin-left:15px ;
        }

        .state-1-operation-spans{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #95A1B5;
        }

        .state-2{
            width: 30%;
            height: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            margin-left:15px ;
            color:#95A1B5 ;
        }

        .state-2-div{
            width: 100%;
        }

        .state-information{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            height: 16px;
            width: 16px;
            background:#95A1B5;
            color: #FFFFFF;
            font-family: "Rubik";
            font-size: 12px;
            font-weight:400;
        }

        .state-3{
            width: 30%;
        }

        .state-3-div{
            width: 100%;
            display:inline-flex ;
            justify-content: space-between;
            color: #95A1B5;
        }

        .state-3-div-span{
            margin-left:15px ;
            color: #95A1B5;
        }


        .hrvertical{ 
            margin-left:12px ;
            border:none;
            border-left:1px solid #D5D9E1;
            height:32px;
            width:1px;       
        }

        .question-mark{
            width: 61px;
            height: 56px;
            background: #FFFFFF;
            margin: 0 0 0 16px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .question-mark div{
            width: 32px;
            height: 32px;
            font: 14px "Rubik";
            color: #FFFFFF;
            background-color: #8C4EFF;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    /* main-section-top-2-end */

    /* Article-Start */
    .main-section-performance{
        box-sizing: border-box;
        max-width: 66%;
        height: 258px;
        background: #FFFFFF;    
        margin: 30px 0 30px 0;
        padding: 0 14px 0 0;
        border-radius: 6px;
        font-family: "Rubik";
    }

    .main-section-performance-1{
        width: inherit;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 20px;
        font-family: "Rubik";
        font-size: 18px;
        font-weight:bold;
    }

    .main-section-performance-2{
        display: grid;
        grid-template-columns: 50% 50%;  
        margin: 0 0 0 10px;     
    }

    .main-section-performance-2-box{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        height: 70px;
        background-color:#F7F7FA ;
        border-radius: 6px;
        margin:0px 10px 10px 10px !important ;
        padding: 16px;
    }

    .main-section-performance-2-box-div-satis{
        font-size: 12px;

    }

    .font-weight{
        font-weight: 900;
        font-size: 20px;
    }

    .main-section-performance-2-box-div-yuzde{
        color: #afbbca;
        font-size: 12px;
        font-weight: 700;
    }
    
    /* Article-End*/

    
/* Main-End */







/* 

.deneme{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

*/